.profile-container {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    justify-content: center;
}

.monthly-limit-textfield {
    display: block;
    width: 50%;
    /* margin: 1em; */
    padding: 1em;
    width: 35em;
    border-radius: 8px;
    border-style: none;
    border: 1px solid #e4e6e8;
    transition: 0.1s ease;
}

.update-monthly-limit-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
  }
  
  .update-monthly-limit-button {
    /* margin: 1em; */
    padding: 1em;
    width: 30%;
    margin-top: 20px;
    border: 1px solid #e4e6e8;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.1s ease-in;
    background-color: #4aa088;
    color: white;
  }